nav{
  position:fixed;
  top:0;
  margin: 15px;
z-index: 9999999;
}
#Logo{
  transition: all 0.3s;
   //  vertical-align: text-bottom;
}
.xlargeLogo{width: 200px;}
.largeLogo{width: 180px;}
.medLogo{width: 160px;}
.smallLogo{width: 140px;}
.xsmallLogo{width: 120px;}

.content {
  padding-top: 0px;
  max-width: 100%;
  width: 100%;
}

.nav-link,
.nav-link-active{
  font-family: Lato;
  text-decoration: none;
  font-size: 12pt;
  padding-left: 5px;
    padding-right: 5px;

  font-weight: 300;
}
.nav-link{
 color: #000;
}
a.nav-link:hover{
  color: pink;
}

a.nav-link-active{
  color: pink;
}

a.nav-link-active:hover{
  color: #000;
}

a{
	color: #000;
text-decoration: none;
}

.Navigat{
  //width: 500;
 margin-left: 5px;
 vertical align: text-bottom;

}

navbar-brand{
 overflow: hidden;
    vertical align: text-bottom;
}

navbar{
 overflow: hidden;
  vertical align: text-bottom;
  width: auto;
  display: inline;
}

body{
  margin: 0;
}


.textPage{
  margin-left: 5%;
  margin-right: 5%;
//  margin-top: 100px;
margin-bottom: 75px;
  font-family: Lato;
  color: #000;
 text-align: center;
  font-size: 12pt;
  font-weight: 300;
}


div.scrollmenu {
    background-color: #fff;
	overflow-x: auto;
	overflow-y: hidden;
//    overflow: auto;
    white-space: nowrap;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
	margin-top: 0px;

}


container {
height: 600px;
    padding: 0;
    margin: 0;
//overflow-x: auto;
	white-space: nowrap;
}

 img.slideImg,
.slideshowBW,
.scrollmenu{
      height: 600px !important;
          padding: 0;
    margin: 0;
	//overflow-x: auto;
}


.slideshowBay{
	//margin-top: 0px;
}


table {
   // font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 900px !important;
	width: 100%;
	margin: 0 auto 0;
	 vertical align: middle;

}

td, th {
    border: 0px solid #dddddd;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;

	width: 33.333%;
 vertical align: middle;

}


h1{
  font-family: Lato;
  color: #000;
 text-align: center;
  font-size: 13pt;
  font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}



.clientLogo{
max-width: 75%;	
}

@media screen and (min-width: 481px) {
	.textPage{
		margin-top: 100px !important;
	}
}
@media screen and (max-width: 480px) {
	#gearbox{
		margin-top: 25px !important;
	}
	.textPage{
		margin-top: 50px !important;
	}
	.Navigat{
	margin-top: 5px;
	}
	.slideshowBay{
	margin-top: 35px !important;
}
    .nav-link {
        padding-left: 2.5px;
        padding-right: 2.5px;
	}
img#Logo, #Logo{
	//width: 120px;
	//width: 90%;
	}
	.xlargeLogo{width: 120px !important;}
.largeLogo{width: 115px !important;}
.medLogo{width: 110px !important;}
.smallLogo{width: 105px !important;}
.xsmallLogo{width: 100px !important;}
	nav,
	.nav,
	nav.navbar.navbar-inverse.navbar-toggleable-md.fixed-top
	{
	margin: 0px !important;
	}
	 img.slideImg,
.slideshowBW,
.scrollmenu,
	container{
      height: 400px !important;
	}
}


#gearbox {
    display: block;
	float: center;
    justify-content: space-between;
	overflow: hidden;
}
#leftgear, #rightgear, #thirdgear {
  //  width: 90%;
    max-width: 100%;
	margin: 0 auto 0;
	width: auto;
    height: auto;
	z-index: 10;
}
