/*{$red: #d8262f;}*/

/*start-txt*/

h1{
	font-family: "Arial", sans-serif;
	color: black;
	font-size: 16pt;
	font-style: normal;
	line-height:18pt;
	letter-spacing: 2pt;
	font-weight: 900;
	text-transform: uppercase;
	text-align:center;
	transform: scale(1, .8);
 	-webkit-transform: scale(1, .8); /* Safari and Chrome */
 	-moz-transform: scale(1, .8); /* Firefox */
	-ms-transform: scale(1, .8); /* IE 9+ */
	-o-transform: scale(1, .8); /* Opera */
}

p, #pdp-drawer-txt{	
	font-family: "Work Sans", "Arial", sans-serif;
	color: black;
	font-style: normal;
	font-size: 10pt;
	line-height: 15pt;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	vertical-align:middle;
}

#pdp-h1{
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

p{font-weight: 300;}

strong{font-weight: 500;}

a{
	color: #000;
	text-decoration: none;
}

/*end-txt

start-nav*/

nav{
	position:fixed;
	top:0;
	margin: 15px;
	z-index: 9999999;
}


#Logo{transition: all 0.3s;}

.logo1{width: 160px;}
.logo2{width: 155px;}
.logo3{width: 150px;}
.logo4{width: 145px;}
.logo5{width: 140px;}
.logo6{width: 135px;}
.logo7{width: 130px;}
.logo8{width: 125px;}
.logo9{width: 120px;}

.nav-link,
.nav-link-active{
	font-family: "Work Sans", "Arial", sans-serif;
	font-style: normal;
	text-decoration: none;
	font-size: 10pt;
	padding-left: 5px;
  	padding-right: 5px;
	font-weight: 300;
}

.nav-link{color: black;}

a.nav-link:hover{color: #d8262f;}

a.nav-link-active{color: #d8262f;
//color:#cc3333;
}

a.nav-link-active:hover{color: black;}

.Navigat{
	margin-left: 20px;
	margin-top: 20px;
	position:sticky;
}

.navbar-brand{
	overflow: hidden;
	margin-right:5px;
}

navbar{
	overflow: hidden;
	width: auto;
	display: inline;
}

/*end-nav

start-index*/
.video {object-fit: cover;}


#pdp-video, .pdp-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	max-width: 100%; 
	max-height: 100%;
	z-index:-1;
	pointer-events: auto!important;
	overflow:hidden;
	object-fit:cover;
}

.splash-image{
	position: fixed;
	width: 25vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/*end-index
	 
start-abt*/

.textPage{
	text-align: center;
	width: 80%;
	max-width:720px;
	margin: 0 auto;
}


.aboutPic {
	margin: 0 auto;
	max-width: 100%;
}

/*end-abt

start-art*/

img.slideImg, .slideshowBW, .scrollmenu{
	height: 500px !important;
	padding: 0;
	margin: 0;
}

/*end-art

start-client*/

.client-flex{text-align:center;
	margin:0;
margin-bottom:25px;
height: 175px;
	width:150px;
	//  flex: 1 0 33%; 

}

.clientLogo{max-height: 100px;
//width: auto;
height:100%;}

.clientLogo-wide{max-width: 150px;
//height:auto;
width:100%;}

.client-table{
	float:center;
	width:100%;
	max-width: 720px;
	margin: 0 auto;
}
.client-logo-tr{margin-bottom:10px;}

.client-td{
	//padding: 5px;
	width:33.333%;
	text-align:center;
}

.client-tr{margin-bottom:25px;}

/*end-client
	 
start shop*/
	 
.flex-container {
	max-width:700px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.flex-shop {
	width: 200px;
	margin: 10px;
	margin-bottom:50px;
	text-align: center;
}



.card {
        width: 200px;
        height: 300px;
	background: url("https://raw.githubusercontent.com/brettsilvers/brettsilvers.github.io/master/Rotating_earth_(large).png") no-repeat;
	background-size: cover;
	background-position: center;
	background-color: d8262f;
}

.card:hover {
        background: url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif") no-repeat;
	background-size: cover;
	background-position: center;
	background-color: d8262f;

}

/*end-shop
	 
start-pdp*/

.buy-container {
	color:white;
	border:1px #d8262f solid;
  position: relative;
  width: 100%;
  background-color:#d8262f;
  height:50px;
	margin-top:25px;
	margin-bottom:25px;
}

.buy-overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.buy-container:hover .buy-overlay {
  width: 100%;
  left: 0;
}

/*
.pdp-button-new {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


.buy-button-table{margin-top:25px;
margin-bottom:25px;
text-transform:uppercase;
color:white;}
*/

.pdp-table{
	width:100%;
	margin:0px;
	border:0px solid white;
	border-spacing: 0px;
	border-collapse: collapse;
	padding:0px;
	margin-top:10px!important;
	//max-width:267px;
}

.pdp-tr{
	margin:0 auto;
	border:0px solid white;
	border-spacing: 0px;
	border-collapse: collapse;
	padding:0px;
	text-align:center;
}

.pdp-td{
	width:20%;
	vertical-align:middle;
	margin:0px;
	border:0px solid white;
	border-spacing: 0px;
	border-collapse: collapse;padding:0px;
}
	  
.flex-container-pdp {
	background:white;
	display: flex;
	justify-content: center;
	//margin-top:100px!important;
	width:60%;
	margin:0 auto;
	//pointer-events: auto;
}

/*.pdp-pic{
	width:55%;
	float:left;
		padding-left:25px;
	padding-right:25px;
}

.pdp-text{
	padding-left:25px;
	padding-right:25px;
	//width:calc(40% - 5%); 
	width:45%;
	float:right;
	padding-top:50px;
	text-align: left;
	//width:100%;
	//padding-left:0px;
	//padding-top:25px;
	//margin-top:25px!important;
}*/

.pdp-pic{
	max-width:300px;
	float:left;
	text-align: left;
}

.pdp-text{
	//max-width:300px;
	float:right;
	padding-top:50px;
	padding-left:50px;
	text-align: center;
}


.pdp-thumbnail{max-width:56px;}

.drawerCollapsible {
	vertical-align:middle;
	padding:0;
	padding-top:15px; 
	border-top:1px solid black;
	border-bottom:none;
	border-left:none;
	border-right:none;
	cursor: cell!important;
	//border-top: 2px solid black;
	background-color: white;
	//color: black;
	//padding: 15 0px;
	width: 100%;
	text-align: left;
	outline: none;
	font-weight:500;
	font-family: inherit;
	font-size: inherit;
	font-style: normal;

}



.drawerCollapsible:after {
	font-family: inherit;
		font-style: normal;
	font-size:inherit;
	cursor: cell!important;
	content: '\002B';
	float: right;
	margin-left: 0px;
	//font-weight: 300;
	vertical-align:middle;

}

.active:after{
	content: "\2212";
	font-weight:500;
}

.drawerCollapsible:active, .drawerCollapsible.active{font-weight: 300;}

.drawerContent {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: white;
	margin-bottom:25px;
	font-size:inherit;
	cursor: cell!important;
	text-align: left;

}

.mySlides, img.mySlides{
	margin: 0;
	width:100%;
	display: block;
}

/*end-pdp

start-footer*/

.footer{
	font-family: inherit;
	font-style: normal;
	color: black;
	text-align: center;
	font-size: inherit;
	font-weight: inherit;
	margin-bottom:25px;
}

.footerShort{
	width:100%;
	position: fixed;
	bottom: 25px;
	font-family: inherit;
	font-style: normal;
	color: black;
	text-align: center;
	font-size: inherit;
	font-weight: inherit;
}

/*end-footer

start-misc*/

.site-main{
	padding-top:100px;
	//padding-bottom:75px;
	margin: 0 auto;
		margin-bottom:50px;
}

.container{
	margin-top:20%;
	width:60%;
	//text-align:center;
	margin:0 auto;
}


table, td, tr{border-collapse: collapse;} 

#slider{margin:0!important;padding:0!important;border-collapse: collapse;border: 0px solid white;}



body{margin: 0;}


div.scrollmenu {
	background-color: white;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.shop-grid-image{
	max-width: 250px;
	width: 100%;
}

 .imgOverlay{
	max-width: 250px;
	width: 100%;
	height: 100%;
	max-height: 375px;
	background: url("https://raw.githubusercontent.com/brettsilvers/brettsilvers.github.io/master/46172888_050_d.png") no-repeat;
 }

 .imgOverlay:hover {background: url("https://raw.githubusercontent.com/brettsilvers/brettsilvers.github.io/master/46172888_050_d-alt.png") no-repeat !important; }

.yesHover{
	opacity: 0;
	position:absolute;
}

.noHover:hover .yesHover{opacity: 1;}

/*end-misc

start-breakpoints*/

/*@media screen and (min-width: 481px) {
	.aboutPic{width: 66.666%;}
}
*/

@media screen and (max-width: 350px) {
	.nav-link, .nav-link:active{font-size:8pt;}
}

	
@media screen and (max-width: 480px) {
	.site-main{padding-top:50px;}
	.flex-shop{margin-bottom:25px;}
	.pdp-text{
		padding-top:25px;
		padding-left:0px;
	}
	img.slideImg, .slideshowBW, .scrollmenu, container{height: 360px !important;}
	.aboutPic{width: 100%;}
	.aboutPic{width: 100% !important;}	
	.nav-link, .nav-link-active{
		padding-left: 2.5px;
		padding-right: 2.5px;}

	.logo1{width: 120px !important;}
	.logo2{width: 117.5px !important;}
	.logo3{width: 115px !important;}
	.logo4{width: 112.5px !important;}
	.logo5{width: 110px !important;}
	.logo6{width: 107.5px !important;}
	.logo7{width: 105px !important;}
	.logo8{width: 102.5px !important;}
	.logo9{width: 100px !important;}
	
	nav, .nav, nav.navbar.navbar-inverse.navbar-toggleable-md.fixed-top{margin: 0px !important;}
	img.slideImg, .slideshowBW, .scrollmenu, container{height: 300px !important;}
}


@media screen and (max-width: 720px) {
	.splash-image{
		position: fixed;
 		 width: 50vw;
	}
	
	.flex-container {max-width:600px;}
}

/*end-breakpoints
