body{    margin: 0px;
}

h1{	font-family: Arial, sans-serif;
	color: #000;
	font-size: 16pt;
	line-height:18pt;
	  letter-spacing: 2pt;
	font-weight: 900;
text-transform: uppercase;
text-align:center;
transform: scale(1, .8);
  -webkit-transform: scale(1, .8); /* Safari and Chrome */
  -moz-transform: scale(1, .8); /* Firefox */
  -ms-transform: scale(1, .8); /* IE 9+ */
  -o-transform: scale(1, .8); /* Opera */}

p{	font-family: Work Sans, sans-serif;
	color: #000;
	font-size: 10pt;
	line-height: 15pt;
	font-weight: 300;
margin-block-start: 0;
    margin-block-end: 0;
}

strong{	font-weight: 500;}

.splash-image{
position: fixed;
  width: 25vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-splash{
	margin: 0 auto;
	text-align: center;
	top: 95%;
	position:fixed;
	width: 100%;
	font-size:8pt!important;
}

@media screen and (max-width: 720px) {
.splash-image{
position: fixed;
  width: 50vw;
	}
	.flex-container {
	max-width:600px;
	}
}
